{:paths ["src" "resources" "out" "java"]
 :deps  {quil/quil {:mvn/version "4.3.1563"}
         org.clojure/data.json {:mvn/version "2.5.0"}
         genartlib/genartlib {:mvn/version "1.3.0"}}}
         ;org.openjfx/javafx-controls {:mvn/version "24.0.1"}}}
